$mainColor: #5e42b0;
$whiteColor: #fff;
$fontSize: 20px;
$container: 1560px;
$mainFontFamily: 'proxima_nova_regular', sans-serif;
$lightFontFamily: 'proxima_nova_light', sans-serif;
$boldFontFamily: 'proxima_nova_bold', sans-serif;
